<div class="contact">
  <div class="contact-info">
    <h1>Contact Us</h1>
    <p>
      Have suggestions or feedback? We would love to hear from you! Please let us know via e-mail or on our social media accounts!</br>
      <center><a href="https://github.com/AugsburgCollegeACM" class="fa fa-github fa-3x"></a>
      <a href="mailto:acm.org@augsburg.edu" class="fa fa-envelope fa-3x"></a>
      <a href="https://www.facebook.com/groups/augsburgACM/" class="fa fa-facebook-square fa-3x"></a></center>
    </p>
  </div>
  <div class="message-box">
        <h1>Message Us</h1>
    <form action="mailto:vod@augsburg.edu" method="post" enctype="text/plain">
      <input type="text" name="email" placeholder="E-mail Address">
      <textarea rows="4"  name="message" placeholder="Message"></textarea>
      <input type="submit" value="Send">
      <input type="reset" value="Reset">
    </form>
  </div>
  <div class="board">
    <div class="president">
      <h2>Bob Laskowski</h2>
      <h3>President</h3>
      <p>
        <a href="https://www.github.com/blaskowski94" class="fa fa-github fa-3x"></a>
        <a href="mailto:laskowr@augsburg.edu" class="fa fa-envelope fa-3x"></a>
      </p>
    </div>
    <div class="vice-president">
      <h2>Greg Dorr</h2>
      <h3>Vice President</h3>
      <p>
        <a href="https://www.github.com/GregDorr" class="fa fa-github fa-3x"></a>
        <a href="mailto:dorrg@augsburg.edu" class="fa fa-envelope fa-3x"></a>
      </p>
    </div>
    <div class="secretary">
      <h2>Don Vo</h2>
      <h3>Secretary</h3>
      <p>
        <a href="https://www.github.com/rytrex" class="fa fa-github fa-3x"></a>
        <a href="mailto:vod@augsburg.edu" class="fa fa-envelope fa-3x"></a>
      </p>
    </div>
    <div class="treasurer">
      <h2>Peter Klein</h2>
      <h3>Treasurer</h3>
      <p>
        <a href="https://www.github.com/peterklein1923" class="fa fa-github fa-3x"></a>
        <a href="mailto:kleinp@augsburg.edu" class="fa fa-envelope fa-3x"></a>
      </p>
    </div>
    <div class="member-chair">
      <h2>Drew Hagen</h2>
      <h3>Membership Chair</h3>
      <p>
        <a href="https://www.github.com/drewhagen" class="fa fa-github fa-3x"></a>
        <a href="mailto:hagend@augsburg.edu" class="fa fa-envelope fa-3x"></a>
      </p>
    </div>
    <div class="advisor-1">
      <h2>Shana Watters</h2>
      <h3>Advisor</h3>
      <p>
        <a href="mailto:watterss@augsburg.edu" class="fa fa-envelope fa-3x"></a>
      </p>
    </div>
    <div class="advisor-2">
      <h2>Erik Steinmetz</h2>
      <h3>Advisor</h3>
      <p>
        <a href="mailto:steinmee@augsburg.edu" class="fa fa-envelope fa-3x"></a>
      </p>
    </div>
    <div class="advisor-3">
      <h2>Noel Petit</h2>
      <h3>Advisor</h3>
      <p>
        <a href="mailto:petit@augsburg.edu" class="fa fa-envelope fa-3x"></a>
      </p>
    </div>
  </div>
</div>
