.calendar
  height: 90vh

  h3
    font-family: $font

  .event-list
    padding: 10px
    background: $box-color

  .month-calendar
    padding: 10px
    background: $box-color

    h1
      text-align: center
      font-family: $font

    td
      width: 14.285%
      vertical-align: top

    td
      border: 1px solid darkgrey

    tr:nth-child(2n)
      background: darken($box-color, 10%)

    .day
      text-align: center
      height: 50px
      margin: 5px

@media (min-width: 1201px)
  .calendar
    display: flex
    justify-content: center
    align-items: center

    .event-list
      max-width: 300px
      overflow-y: scroll
      height: 85vh
      margin-left: 3px

    .month-calendar
      width: 900px
      margin-right: 3px

      .date
        height: 100px

@media (max-width: 1200px) and (min-width: 691px)
  .calendar
    .event-list
      width: 690px
      margin: 10px auto 10px auto

    .month-calendar
      width: 690px
      margin: 10px auto 0 auto

      .date
        height: 75px

@media (max-width: 690px)
  .month-calendar
    display: none
  .event-list
    padding: 0 20px 0 20px
    margin: 10px
