.navbar
  background-color: rgba(53, 53, 53, .7)
  height: 65px
  line-height: 65px
  text-align: center
  font:
    size: 25px
    family: 'Raleway', sans-serif
  a
    color: lighten(grey, 20%)
    text-decoration: none
    margin: 0px 25px 0px 25px
    vertical-align: middle
  a:nth-child(3)
    color: white
    text-decoration: none
    vertical-align: middle
    font:
      weight: bold
      size: 40px
  #hamburger
    display: none

@media (max-width: 690px)
  .navbar
    height: 50px
    line-height: 50px
    a
      display: none

    a:nth-child(3)
      display: block
      font-size: 25px

  #hamburger
    display: inline
    float: left
    height: 20px
    width: 20px
    overflow: hidden
    text-align: right
    padding: 10px

    &:hover
      overflow: visible

    i
      font-size: 25px
      color: black

    a
      display: block
      color: lighten(grey, 20%)
      font:
        size: 17px
        weight: normal
